name: Python CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run Python script (CI)
        run: python sum.py

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t himanshi250/sum-app:latest .

      - name: Push Docker image
        run: docker push himanshi250/sum-app:latest
